extends ../layout/layout-main
block block-content
  // Hero Section Begin
  section.hero.hero-normal.mt-4
    include ../layout/layout-search-2
  // Breadcrumb Section Begin
  section.breadcrumb-section.set-bg#breadCrumb(data-setbg='https://via.placeholder.com/1920x150/f5f5f5/f5f5f5')
    .container
      .row
        .col-lg-12.text-center
          .breadcrumb__text
            h2 Checkout
            .breadcrumb__option
              a(href='/') Home
              span Checkout
  // Breadcrumb Section End
  // Checkout Section Begin
  section.checkout.spad
    .container
      .row
        .col-lg-12
          h6
            span.icon_tag_alt
            |  Have a coupon? 
            a(href='#') Click here
            |  to enter your code
      .checkout__form
        h4 Billing Details
        form(action='#')
          .row
            .col-lg-8.col-md-6
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Fist Name
                      span *
                    input(type='text' name='first_name' value=`${authUser.first_name}`)
                .col-lg-4
                  .checkout__input
                    p
                      | Last Name
                      span *
                    input(type='text' name='last_name' value=`${authUser.last_name}` )
                .col-lg-4
                  .checkout__input
                    p
                      | Display Name
                      span *
                    input(type='text' name='displayName' value=`${authUser.displayName}`)

              h4 Shipping Information
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Contact Name
                      span *
                    input(type='text' name='address[contactName]' value=`${authUser.address.contactName}`)
                .col-lg-4
                  .checkout__input
                    p
                      | Primary Mobile
                      span *
                    input(type='text' name='address[primaryMobile]' value=`${authUser.address.primaryMobile}` )
                .col-lg-4
                  .checkout__input
                    p
                      | Secondary Mobile
                    input(type='text' name='address[secoundaryMobile]' value=`${authUser.address.secoundaryMobile}`)
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Country
                      span *
                    select.checkout__input__add#country(name="address[country]")
                      option(value="Myanmar") Myanmar
                .col-lg-4
                  .checkout__input
                    p
                      | Region/State
                      span *
                    select.checkout__input__add#country(name="address[cityid]")
                      option(value="#") Mandalay
                .col-lg-4
                  .checkout__input
                    p
                      | Township
                      span *
                    select.checkout__input__add#country(name="address[townshipid]")
                      option(value="#") Myingyan
              
              .row 
                .col-lg-12
                  .checkout__input
                    p
                      | Address
                      span *
                    textarea#address(name="address[address]", cols="30", rows="10")

              p
                | Create an account by entering the information below. If you are a returning customer
                | please login at the top of the page

            .col-lg-4.col-md-6
              .checkout__order
                h4 Your Order
                .checkout__order__products
                  | Products 
                  span Total
                ul
                  li
                    | Vegetable&rsquo;s Package 
                    span $75.99
                  li
                    | Fresh Vegetable 
                    span $151.99
                  li
                    | Organic Bananas 
                    span $53.99
                .checkout__order__subtotal
                  | Subtotal 
                  span $750.99
                .checkout__order__total
                  | Total 
                  span $750.99
                .checkout__input__checkbox
                  label(for='acc-or')
                    | Create an account?
                    input#acc-or(type='checkbox')
                    span.checkmark
                p
                  | Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                  | ut labore et dolore magna aliqua.
                .checkout__input__checkbox
                  label(for='payment')
                    | Check Payment
                    input#payment(type='checkbox')
                    span.checkmark
                .checkout__input__checkbox
                  label(for='paypal')
                    | Paypal
                    input#paypal(type='checkbox')
                    span.checkmark
                button.site-btn(type='submit') PLACE ORDER
  // Checkout Section End
block scripts
  script(src="../js/pages/checkout.js")