extends ../layout/layout-main
block block-content
  // Hero Section Begin
  section.hero.hero-normal.mt-4
    include ../layout/layout-search-2
  // Breadcrumb Section Begin
  section.breadcrumb-section.set-bg#breadCrumb(data-setbg='https://via.placeholder.com/1920x150/f5f5f5/f5f5f5')
    .container
      .row
        .col-lg-12.text-center
          .breadcrumb__text
            h2 Checkout
            .breadcrumb__option
              a(href='/') Home
              span Checkout
  // Breadcrumb Section End
  // Checkout Section Begin
  section.checkout.spad
    .container
      .row
        .col-lg-12
          h6
            span.icon_tag_alt
            |  Have a coupon? 
            a(href='#') Click here
            |  to enter your code
      .checkout__form
        h4 Billing Details
        form(action='#')
          .row
            .col-lg-8.col-md-6
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Fist Name
                      span *
                    input(type='text' name='first_name' value=`${authUser.first_name}`)
                .col-lg-4
                  .checkout__input
                    p
                      | Last Name
                      span *
                    input(type='text' name='last_name' value=`${authUser.last_name}` )
                .col-lg-4
                  .checkout__input
                    p
                      | Display Name
                      span *
                    input(type='text' name='displayName' value=`${authUser.displayName}`)

              h4 Shipping Information
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Contact Name
                      span *
                    input(type='text' name='address[contactName]' value=`${authUser.address.contactName || ""}`)
                .col-lg-4
                  .checkout__input
                    p
                      | Primary Mobile
                      span *
                    input(type='text' name='address[primaryMobile]' value=`${authUser.address.primaryMobile || ""}` )
                .col-lg-4
                  .checkout__input
                    p
                      | Secondary Mobile
                    input(type='text' name='address[secoundaryMobile]' value=`${authUser.address.secoundaryMobile || ""}`)
              
              .row
                .col-lg-4
                  .checkout__input
                    p
                      | Country
                      span *
                    select.checkout__input__add#country(name="address[country]" required)
                      option.option(value="#" data-display="-- Select One --" disabled selected) -- Select One --
                      option(value="Myanmar") Myanmar
                .col-lg-4
                  .checkout__input
                    p
                      | Region/State
                      span *
                    select.checkout__input__add#city(name="address[cityid]" required)
                      option.option(value="#" data-display="-- Select One --" disabled selected) -- Select One --
                .col-lg-4
                  .checkout__input
                    p
                      | Township
                      span *
                    select.checkout__input__add#township(name="address[townshipid]" required)
                      option.option(value="#" data-display="-- Select One --" disabled selected) -- Select One --
              
              .row 
                .col-lg-12
                  .checkout__input
                    p
                      | Address
                      span *
                    textarea#address(name="address[address]", cols="30", rows="10")

              .checkout__input__checkbox
                label(for='pickup')
                  sapn.ml-4 Pick Up
                  input#pickup(type='radio' name="delivery_method")
                  span.checkmark
              .checkout__input__checkbox
                label(for='delivery')
                  sapn.ml-4 Delivery
                  input#delivery(type='radio' name="delivery_method")
                  span.checkmark

              .row 
                .col-lg-12
                  p.py-3
                    | Create an account by entering the information below. If you are a returning customer
                    | please login at the top of the page

            .col-lg-4.col-md-6
              - var subSumTotal = 0, sumTotal = 0;
              .checkout__order
                h4 Your Order
                .checkout__order__products
                  | Products 
                  span Total
                ul
                  if (data && data.length > 0)
                    
                    each cartObj,cartIdx in data
                      - var itemQty = cartObj.quantity, disPrice = 0,totalPrice = 0;

                      if (cartObj.productId.discount_id)
                        - var discountType = cartObj.productId.discount_id.discount_type
                        - var discountAmt = cartObj.productId.discount_id.discount_amount

                        if (discountType == "amount")
                          - disPrice = discountAmt;
                        else if (discountType == "percent")
                          - disPrice = cartObj.productId.price * (discountAmt / 100)
                          
                        - totalPrice = (cartObj.productId.price - disPrice) * itemQty
                        - subSumTotal += totalPrice;
                        - sumTotal += totalPrice;

                      li
                        | !{cartObj.productId.name}
                        span !{totalPrice}
                 
                .checkout__order__subtotal
                  | Subtotal 
                  span !{subSumTotal}MMK
                .checkout__order__total
                  | Total 
                  span !{sumTotal}MMK

                p
                  | Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                  | ut labore et dolore magna aliqua.

                .checkout__input__checkbox
                  label(for='cod')
                    span.ml-2 Cash On Deliver
                    input#cod(type='radio' name="payment_method")
                    span.checkmark
                .checkout__input__checkbox
                  label(for='e_pay')
                    span.ml-2 Bank/Pay Transfer
                    input#e_pay(type='radio' name="payment_method")
                    span.checkmark
                button.site-btn(type='submit') PLACE ORDER
  // Checkout Section End
block scripts
  script(src="../js/pages/checkout.js")