footer.footer.spad
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6
        .footer__about
          .footer__about__logo
            a(href='./')
              img(src='img/logo/it-marketplace-500x280.png' alt='')
          ul
            li Address: No. 19, Soonloon, Myingyan
            li Phone: +95 775775775
            li Email: team@unlocksth.com
      .col-lg-4.col-md-6.col-sm-6.offset-lg-1
        .footer__widget
          h6 Useful Links
          ul
            li
              a(href='#') About Us
            li
              a(href='#') About Our Shop
            li
              a(href='#') Secure Shopping
            li
              a(href='#') Delivery infomation
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Our Sitemap
          ul
            li
              a(href='#') Who We Are
            li
              a(href='#') Our Services
            li
              a(href='#') Projects
            li
              a(href='/contact') Contact
            li
              a(href='#') Innovation
            li
              a(href='#') Testimonials
      .col-lg-4.col-md-12
        .footer__widget
          h6 Join Our Newsletter Now
          p Get E-mail updates about our latest shop and special offers.
          form(action='#')
            input(type='text' placeholder='Enter your mail')
            button.site-btn(type='submit') Subscribe
          .footer__widget__social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
    .row
      .col-lg-12
        .footer__copyright
          .footer__copyright__text
            p
              | Copyright &copy;&nbsp;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved. This marketplace is made by
              a(href='#' target='_blank')  Unlock Something Team
          .footer__copyright__payment
            img(src='img/payment/payment-item.png' alt='')
// Footer Section End
// Js Plugins
script(src='../js/jquery-3.3.1.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/jquery-ui.min.js')
script(src='../js/jquery.slicknav.js')
script(src='../js/jquery.nice-select.min.js')
script(src='../js/owl.carousel.min.js')
script(src='../js/sweetalert2.min.js')
script(src='../js/pagination.min.js')
script(src='../js/mixitup.min.js')
script(src='../js/common.js')
script.
  window.onscroll = function () { onScrollTrack() };
  var navbar = document.getElementById("navbar");
  var topBtn = document.getElementById("topButton");
  var sticky = navbar.offsetTop || 47;
  var isNew = true;

  const  authData = ('!{auth}') ? JSON.parse('!{auth}') : {}; // User Obj
  const  baseUrl = '!{BASE}';                                 // Base Url

  function onScrollTrack() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }

    if (document.body.scrollTop > sticky || document.documentElement.scrollTop > sticky) {
      topBtn.style.display = "block";
    } else {
      topBtn.style.display = "none";
    }
  }

  function getLanguage() {
    var langObj = JSON.parse(localStorage.getItem('langObj'));
    var lang = localStorage.getItem('lang');

    if (langObj && langObj.choose_me.toLowerCase() == lang) {
      // work with local Lang
      changeMenu.call(this, langObj)
    }
    else {
      $.ajax({ 
        url:  '/api/getLang/' +  localStorage.getItem('lang'), 
        async: false,
        dataType: 'json', 
        success: function (response) {
          changeMenu.call(this, response)
          langObj = localStorage.setItem('langObj', JSON.stringify(response));
        } 
      });
    }
  }

  function setLanguage(lang) {
    localStorage.setItem('lang', lang);
    getLanguage.call(this)
  }

  function changeMenu(langObj) {
    for (const [key, value] of Object.entries(langObj.menu__link)) {
      $(`.${key}__menu__link`).each(function() {
        $(this).find('a').contents().filter(function() {
          return this.nodeType == 3 && this.textContent.trim();
        })[0].textContent = `${value}`;
      });
    }
    $('.header__top__right__language').find('#choose_me').text(langObj.choose_me);
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }


  setLanguage.call(this,  localStorage.getItem('lang') ?  localStorage.getItem('lang') : 'en');

  //- {
  //-   _id: '612c5f4fc1be29abaf5b6504',
  //-   last_name: 'phyo',
  //-   first_name: 'wai',
  //-   email: 'wy@gmail.com',
  //-   displayName: 'wai',
  //-   customer_type: 'normal',
  //-   account_type: 'itemplate',
  //-   updated_at: '2021-08-30T04:32:13.889Z',
  //-   active: false,
  //-   address: [],
  //-   __v: 0,
  //- }

block scripts